<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>magic</key>
	<string>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</string>
</dict>
</plist>
